$COR_FUNDO_AZULADO: #000c2c;
$COR_FUNDO_AZULADO_MENU: #00113d;
$COR_ROXO_1: #6935bc;
$COR_ROXO_HOVER: #7a3edb;

$primary: #00113d;
$primaryHover: #001856;
$primarySecundary: #433ae5;
$primarySecundaryHover: #000;
$dark: #000c2c;
$secondary: #6935bc;
$accent: #7a3edb;
$accentHover: #965eef;
$white: #ffffff;
$gray-100: #fefefe;
$gray-200: #e9ecef;
$gray-500: #adb5bd;
$gray-700: #495057;
$gray-900: #212529;
