.features-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem 8rem;             /* mais espaçamento lateral entre cards */
  padding: 4rem 1rem;
  width: 100vw;
  margin: 0 auto;
}

